
body{
  
  /* background: linear-gradient(to right, pink 50%, yellow 50%); */
  background: linear-gradient(to right, #516cb2, #525dae, #458ece, #8fabc6);
}


.container {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(to right, #52669a, #000000, #3e5092, #8fabc6);
  height: 100vh; /* Adjust this value if needed */
  
}

h1 {
  color: #2356bb;
  font-size: 24px;
}

h2 {
  color: #333;
  font-size: 18px;
  text-shadow: #2356bb ;
}

button {
  background-color: #35577d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #3262f2;
}

p {
  color: #883d22;
  font-size: 24px;
  text-shadow: #62d373;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box {
  background-color: #92b4d1;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: #000001 solid ;
  display: inline-block;
  border-radius: 25px;
}